.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
   
    margin: 50px auto 0;

    &__span {
        color: #4d4d4d;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5);
    }

    &__anchor {
        color: #4d4d4d;
        text-decoration: none;
    }
}
