.list {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 16px 16px 0px;
    border-top: 1px solid #e6e6e6;
    background: #fff;

    &:hover &__del {
        display: block;
    }

    &__itens {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        width: 40px;

        display: flex;
        justify-content: center;
    }

    &__checkedbox,  &__uncheckedbox {
        cursor: pointer;
        color: #bebebe;
        width: 25px;
        height: auto;
    }

    &__checkedbox {
        color: green;
    }

    &__label {
        color: #484848;
        display: block;
        font-size: 24px;
        padding-left: 22px;
        font-weight: 400;
    }

    &__del {
        display: none;
        color: #4d4d4d;
        width: 20px;
        height: auto;
        cursor: pointer;

        transition: 0.2s ease-in-out all;

        &:hover {
            color: #cf7d7d;
        }
    }
}

.labelChecked {
    color: #949494;
    text-decoration: line-through;
    font-size: 24px;
    padding-left: 22px;
    font-weight: 400;
}